// sass --watch upload_preview.scss:uploadPreview/upload_preview.css --style expanded

.hy-upload-preview {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    background-color: #eee;
    background-size: cover;
    background-position: center;

    span {
        display: block;
        width: 150px;
        padding: 0;
        line-height: 150px;
        text-align: center;
    }
    input {
        position: absolute;
        font-size: 200px;
        z-index: 200;
        top: 0;
        right: 0;
        opacity: 0;
        -ms-filter: 'alpha(opacity=0)';
        cursor: pointer;

        &:hover+.black_mask {
            // opacity: 1;
            -ms-filter: 'alpha(opacity=20)';
        }
    }

    /*  .black_mask {
         position: absolute;
         z-index: 198;
         background-color: #000;
         opacity: 0;
         -ms-filter: 'alpha(opacity=0)';
         width: 150px;
         height: 150px;
         // color: #000;

         // &:hover {
         //     // background-color: red;
         //     opacity: 0.2;
         //     -ms-filter: 'alpha(opacity=20)';
         // }
     } */
    .up_again {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 150px;
        height: 150px;
        opacity: 0;
        color: #fff;
        transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out; /* Firefox 4 */
        -webkit-transition: 0.3s ease-in-out; /* Safari 和 Chrome */
        -o-transition: 0.3s ease-in-out;
    }
    &:hover {
        .up_again {
            opacity: 1;
            background: rgba(0, 0, 0, 0.4);
        }
    }
}
