// sass --watch src/upload_preview.scss:src/upload_preview.css --style compact

.anyName {
    font-size: 16px;
    width: 200px;//-------------
    height: 200px;//----------------
    border-radius: 200px;//--------------
    border:3px solid #dedede;//------------
    position: relative;
    overflow: hidden;
    background-color: #eee;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);

    /* this fixes the overflow:hidden in Chrome/Opera */

    span {
        display: block;
        // width: 150px;
        padding: 0;
        line-height: 200px;//----------
        text-align: center;
    }
    input {
        position: absolute;
        font-size: 2000px;
        z-index: 200;
        top: 0;
        right: 0;
        opacity: 0;
        -ms-filter: "alpha(opacity=0)";
        cursor: pointer;
    }

    .up_again {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        width: 200px;//----------------
        height: 200px;//----------------
        opacity: 0;
        color: #fff;
        transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
        line-height: 1.6;
    }
    &:hover {
        .up_again {
            opacity: 1;
            background: rgba(0, 0, 0, 0.5);
        }
    }
}
